<div class="form-group-inset">
  <label for="kyc-field_{{field}}" class="{{field}}">
    {{info.name}}
    {{#if info.required}}<span class="required">*</span>{{/if}}
    <span class="kyc-hint" title={{info.hint}}></span>
  </label>
  <div class="upload-file">Upload File</div>
  <div class="doc-label">
    <label for="kyc-field_{{field}}" class="choose-file">Choose File</label>
    <input type="file" class="file-input" accept=".jpeg, .jpg, .png, .pdf" id="kyc-field_{{field}}" disabled={{isDisabled}} onchange={{perform assignFile field}}>
  </div>
  {{#if showErrorMessage}}
    <div class='field-error'>
      {{get model.validations.attrs (concat field '.message')}}
    </div>
  {{/if}}
  <div class="file-title">{{get model (concat field 'FileName')}}</div>
  {{#if info.instructions}}
    <p class="kyc-field-instructions doc-upload-info">{{{info.instructions}}}</p>
  {{/if}}
</div>
