<form class="kyc-form separator">
  <legend class="title">Submission Form</legend>
  <div class="detail required">Indicates required field</div>
  <fieldset class="form-group">
    {{#each-in fields as |field info|}}
      <div class="kyc-field">
        <label for="kyc-field_{{field}}" class="{{field}}">
          {{info.name}}
          <span class="kyc-hint" title={{info.hint}}></span>
        </label>
        {{#if (eq info.type 'country')}}
          <select id="kyc-field_{{field}}" onchange={{action (mut (get values field)) value="target.value"}} disabled={{submitKyc.isRunning}}>
            <option>Select Country</option>
            {{#each-in countries as |alpha2 name|}}
              <option value={{alpha2}}>{{name}}</option>
            {{/each-in}}
          </select>
        {{else}}
          <input class="modal-input" id="kyc-field_{{field}}" disabled={{submitKyc.isRunning}} value={{get values field}} oninput={{action (mut (get values field)) value="target.value"}}>
        {{/if}}
      </div>
    {{/each-in}}
  </fieldset>
  <fieldset class="form-group">
    <legend class="title id-icon">Upload Identification</legend>
    <p class="summary">Please upload a photograph or scanned image of a
      state-issued driver’s license, passport, or identity card. Make sure your
      image is clear and detailed; low-quality images will be rejected.</p>
    <div class="summary file-icon">Document Capture Best Practices</div>
    {{#each-in docUploadFields as |field info|}}
      <fieldset class="kyc-field doc-upload">
        <div class="form-group-inset">
          <label for="kyc-field_{{field}}" class="{{field}}">
            {{info.name}}
            <span class="kyc-hint" title={{info.hint}}></span>
          </label>
          <input type="file" id="kyc-field_{{field}}" disabled={{submitKyc.isRunning}} onchange={{perform assignFile field}}>
        </div>
      </fieldset>
    {{/each-in}}
  </fieldset>
  <button onclick={{perform submitKyc}} disabled={{submitKyc.isRunning}}
  class="button dark">Submit Application</button>
</form>
