<form class="kyc-form">
  <fieldset>
    <legend class="title">Submission Form</legend>
    <div class="detail required">Indicates required field</div>
    <fieldset class="form-group">
      {{#each-in fields as |field info|}}
        <div class="kyc-field">
          <label for="kyc-field_{{field}}" class="{{field}}">
            {{info.name}}
            <span class="kyc-hint" title={{info.hint}}></span>
          </label>
          {{#if (eq info.type 'country')}}
            <select id="kyc-field_{{field}}" onchange={{action (mut (get values field)) value="target.value"}} disabled={{submitKyc.isRunning}}>
              <option>Select Country</option>
              {{#each-in countries as |alpha2 name|}}
                <option value={{alpha2}}>{{name}}</option>
              {{/each-in}}
            </select>
          {{else if (eq info.type 'file')}}
            <input type="file" id="kyc-field_{{field}}" disabled={{submitKyc.isRunning}} onchange={{perform assignFile field}}>
          {{else}}
            <input class="modal-input" id="kyc-field_{{field}}" disabled={{submitKyc.isRunning}} value={{get values field}} oninput={{action (mut (get values field)) value="target.value"}}>
          {{/if}}

        </div>
      {{/each-in}}
    </fieldset>
  </fieldset>
  <button onclick={{perform submitKyc}} disabled={{submitKyc.isRunning}}
    class="button dark">Submit Application</button>
</form>
