<div class="kyc-form">
  {{#unless submittingKyc}}
    <legend class="title">Submission Form</legend>
    <div class="detail warning"><span class="hot-pink">Double-check your personal details!</span> We CANNOT change your name/address/date of birth if you make a mistake.</div>
    <div class="detail">If you have submitted personal information to Cardstack previously, please make sure the information you provide here matches your previous submission(s).</div>
    <div class="detail"><span class="required">*</span> Indicates required field</div>
    <fieldset class="form-group">
      {{#each-in fields as |field info|}}
        {{text-input model=model field=field info=info didValidate=didValidate isDisabled=(or submitKyc.isRunning info.disabled)}}
      {{/each-in}}
    </fieldset>
    <fieldset class="form-group">
      <legend class="title id-icon">Upload Identification</legend>
      <div class="file-icon"><a href="/assets/media/doc-capture-best-practices.pdf" target="_blank">
        Document Capture Best Practices</a></div>
      <div class="detail">Accepted file formats: <span class="formats">JPG, PNG, PDF</span></div>
      {{#each-in docUploadFields as |field info|}}
        {{file-input model=model field=field info=info didValidate=didValidate isDisabled=(or submitKyc.isRunning info.disabled) assignFile=assignFile}}
      {{/each-in}}
    </fieldset>
    <button onclick={{perform submitKyc}} disabled={{submitKyc.isRunning}}
    class="button submit dark">Submit Application</button>
  {{else}}
    <div class="kyc-processing">
      {{yield}}
    </div>
  {{/unless}}
</div>
